name: Alpha

on:
  push:
    branches-ignore:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20          
          registry-url: https://registry.npmjs.org/
          scope: "@ddd-ts"

      - name: Install npm
        run: npm install -g npm@11
      
      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test

      - name: Release Alpha
        run: sh .github/workflows/release-alpha.sh
